################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MiniSalesApp/.vs
/MiniSalesApp/MiniSalesApp/bin
/MiniSalesApp/MiniSalesApp/obj/Release/net5.0-windows
/MiniSalesApp/MiniSalesApp/obj
/SQLHelper/SQLHelper/bin/Debug/de
/SQLHelper/SQLHelper/bin/Debug/es
/SQLHelper/SQLHelper/bin/Debug/ja
/SQLHelper/SQLHelper/bin/Debug/ru
/SQLHelper/SQLHelper/bin/Debug
/SQLHelper/SQLHelper/Properties
/SQLHelper/SQLHelper/obj/Release
/SQLHelper/SQLHelper/obj/Debug
/.vs/PrivateRepo/v16
/SQLHelper/.vs/SQLHelper/v16
