<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiniSalesApp.Reports.Properties.Settings.TempString"
            connectionString="Data Source=.;Initial Catalog=MiniSalesApp;Integrated Security=True" />
    </connectionStrings>
    <connectionStrings>
        <add name="TempString"
            connectionString="Data Source=.;Initial Catalog=MiniSalesApp;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>